/* Breakpoint 900px */
/* Fonts */

@font-face {
    font-family: 'sst';
    src: url(/Fonts/sst-cufonfonts/SSTRg.TTF);
}

@font-face {
    font-family: 'sst light';
    src: url(/Fonts/sst-cufonfonts/SSTLight.TTF);
}

@font-face {
    font-family: 'mont heavy';
    font-weight: 800;
    src: url(/Fonts/mont/Mont-HeavyDEMO.otf);
}

html {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'sst';
    background-color: #d8dce8;
}

.main-content {
    position: relative;
    top: 4rem;
}

.image-container {
    overflow: hidden;
}

video:focus {
    outline: none;
}

video {
    outline: none;
    width: 100%;
}

img {
    display: block;
    max-width: 100%;
}

h2 {
    font-size: 38.5px;
    font-family: 'sst light';
    font-weight: 300;
    margin: 0% 0% 10%;
}

h4 {
    font-weight: 400;
}

sup {
    font-size: 11px;
    padding-left: 2px;
}

p {
    font-family: 'sst light';

}

.button {
    align-self: flex-start;
    background-color: #0072ce;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 32px;
    margin-top: 20px;
}

.button:hover {
    background-color: white;
    color: #0072ce;
    transition: all 0.2s ease-in-out;
}

/* Header */

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    max-width: 1920px;
    height: 4rem; 
    background-color: white;
}

header .desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    height: 4rem;
}

header a {
    color: black;
    text-decoration: none;
    font-size: 13.125px;
    padding: 1.5rem 1rem 1.2rem;  
  }

.logo img {
    height: 50px;
    position: absolute;
    top: 0.5rem;
    left: 1.25rem;
}

header nav ul {
    display: flex;
    list-style: none;
}

header ul a:hover {
    color: #0172ce;
    border-bottom: 4px solid #0172ce;
    transition: all 0.2s ease-in-out 0.2s;
}

/* Section 1 */

.section1 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section1 .hero {
    display: flex;
    flex-direction: column;
    margin: 150px 100px;
    width: 246px;
}

.section1 .image-container {
    margin: 1rem 0rem;
}

/* Section 2 */

.section2 {
    display: flex;
    flex-direction: column;
    color: white;
    background-image: linear-gradient(180deg,#1000fe,#002fc3);
}

.section2 .icon-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 10% 20%;
    border-bottom: 1px solid white;
}

.section2 .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section2 .description {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    margin: 0% 20% 10%;
}

.section2 span {
    font-size: 16px;
}

.section2 .description h3 {
    margin: 50px 0px;
}

.section2 h3 {
    font-family: 'mont heavy';
    font-size: 14px;
}

/* Section 3 */

.section3 {
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url(/Images/momentum-background-tri.png), linear-gradient(180deg,#1000fe,#002fc3);
    background-position: left bottom;
    background-size: cover, contain;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    font-family: 'sst light';
}

.section3 video {
    width: 206px;
    height: 116px;
    border-radius: 10px;
}

.section3 iframe {
    border-radius: 15px;
}

.section3 .video-container {
    padding: 0.5rem;
}

.section3 .bottom-videos {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.section3 h2 {
    margin: 10% 0%;
}

.section3 h4 {
    padding-left: 0.5rem;
    margin-top: 0.5rem;
    font-size: 14px;
}

/* Section 4 & 5 */

.section4, .section5 {
    display: flex;
}

.section4 video, .section5 video {
    margin-bottom: -5px;
}

.section4 .text-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin: 20% 5% 0px 70%;
}

.section5 .text-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin: 10% 10% 0px 65%;
}

.section4 h2, .section5 h2 {
    font-family: 'sst light';
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 3.425rem;
}

/* Section 6 */

.section6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section6 .text-container {
    margin: 10% 25% 0px 50%;
    position: absolute;
}

.section6 .image-container {
    width: 60%;
    margin-top: 300px;
    position: relative;
    top: 0;
    left: 0;
}

/* Solution on how to rotate image https://flaviocopes.com/rotate-image/ */

.section6 .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    margin: 42% 40%;
    animation: rotation 40s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

/* Section 7 */

.section7 {
    display: grid;
    grid-template-columns: 50% 55%;
    overflow: hidden;
}

.section7 .left {
    padding: 10% 20%;
}

.section7 p {
    margin-bottom: 3rem;
}

/* Section 8 */

.section8 {
    display: grid;
}

.section8 .text-container {
    position: absolute;
    margin: 10% 70% 0px 4rem;
   
}

/* Section 9, 10 & 11 */

.section9, .section10, .section11 {
    display: flex;
    flex-direction: column;
    margin: 0% 10%; 
}

.section9 .top-shadow, .section11 .top-shadow {
    display: grid;
    grid-template-columns: auto 61%;
}

.section9 .content, .section11 .content  {
  display: grid;
  grid-template-columns: 37% 56% 7%;
}

.section9 .left, .section11 .left {
    padding: 20%;
}

.section9 .right, .section11 .right {
    display: flex;
    flex-direction: column;
}

.section10 .top-shadow {
    display: grid;
    grid-template-columns: 63% auto;
}

.section10 .content {
    display: grid;
    grid-template-columns: 56% 7% 37%;
}

.section10 .left {
    display: flex;
    flex-direction: column;
}

.section10 .right {
    padding: 20%;
}

.right-shadow {
    width: 100%;
}

/* Section 12 */

.section12 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section12 .text-container {
    position: absolute;
}

.section12 h2 {
    font-family: 'Mont Heavy';
    font-weight: 800;
    font-size: 77px;
    color: white;
    margin: 0;
    text-align: center;
}